body{
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Dosis', sans-serif;*/
  margin: 0 !important;
  overflow: hidden;
  background-color: #1D1F20;
}

.top{
  z-index: 100;
}

.tc{
  text-align: center;
  position: relative;
  color: white;
}

#title{
  margin-top: 10%;
  font-weight: lighter;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    opacity: 0.5;
}
.bgMiddle {
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    min-width: 150px;
    min-height: 10px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: lighter;
    color: white;
    background: transparent;
    border: 1px solid white;
    box-shadow: 12px 12px 24px rgba(39, 39, 60,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}


.button:hover, .button:focus {
    color: gold;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}


button:hover::after, button:focus::after {
    animation: none;
    display: none;
}
