<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Matrzak RPG Tools</title>
    <link rel="stylesheet" href="/public/global/css/sweetalert2.css">
    <!-- CSS IMPORTS -->
    <link href="../public/welcome/css/index.css" rel="stylesheet" type="text/css"/>
    <!-- JAVASCRIPT IMPORTS -->
    <script src="../public/welcome/js/jQuery.min.js"></script>
    <script src="../public/welcome/js/anime.min.js"></script>
    <!-- OTHER ASSETS IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="title" class="tc top">m<span class="gold">Rpg</span>Tools</h1>
    <div id="desc" class="tc top">
      Narzedzia ulatwiajace gry <span class="gold">RPG</span>
    </div>
    <button class="button top trigger">ZACZYNAJMY</button>
    <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>

  <script src="../public/welcome/js/index.js"></script>

</html>
